*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

/*start  header */

header{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
 
header input{
    padding-left: 30px ;
    border: none;
    outline: none;
    font-size: 17px;
}
.fa-magnifying-glass{
   position: absolute;
    top: 53px;
   left: 220px;
}


/*  end left side */

header div{
    color: gray
}
    
 div .fa-user:hover{
    color: black;
}
    
div .fa-heart:hover{
    color: black;
}
    
div .fa-cart-shopping:hover{
     color: black;
}
    
.fa-heart{
     margin-left: 8px;
    margin-right: 8px;

      }
    
    
    /* end right side */


header button{
    margin-right: 150px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    }
    
 hr{
     margin-top: 100px;
    
    }
    
    /* start section-1 */
    
 nav{
     margin-top: 20px;
     margin-left: 650PX;
    font-family: sans-serif;
    margin-bottom: 17px;
      
    }
    
 nav :hover{
    color: blueviolet;
    
    }
 nav a{
        margin: 10px;
        color: gray;
        font-size: 18px;
        text-decoration: none;
    }

.Home a{
    position: relative;
    top: 30px;
    left: 30px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: blueviolet;
}

/* end header */

.Home a{
    position: relative;
    top: 30px;
    left: 30px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: blueviolet;
}


.Home{
        height: 80px;
        background-color: rgb(211, 209, 209);
    }
 
    /* ____ */


    .ex{
     
        height: 1800px;
        /* background-color: rgb(248, 245, 245); */
        margin-top: 50px;
        font-family: sans-serif;
        }



        .tank{
            width: 300px;
            height: 400px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            left: 600px;
            top: 600px;
            font-family: sans-serif;
            border-radius: 20px;
            border: 2px solid rgb(179, 179, 179);
        }
        
        .tank h5{
            color: gray;
            padding-left: 80px;
        }
        
        .tank h2{
            color: blueviolet;
            margin-top: 20px;
            margin-left: 90px;
        }
        .tank .qwq{
            margin-left: 120px;
        } 
        
        
        .crator{
            width: 300px;
            height: 400px;
            padding-left: 30px;
            background-color: white;
            position: absolute;
            left: 1050px;
            font-family: sans-serif;
            border-radius: 20px;
            top: 600px;
            border: 2px solid rgb(179, 179, 179);
        }
        .crator .ere{
         margin-top: 20px;
         margin-left: 80px;
        }
        
        
        .crator h2{
            color: blueviolet;
            font-family: sans-serif;
            margin-top: 70px;
            margin-left: 60px; 
        } 
        
        .crator h5{
            color: gray;
            padding-left: 40px;
            font-family: sans-serif;
        }
        
        
        
        .polo{
            width: 300px;
            height: 400px;
            background-color: white;
            position: absolute;
            right: 80px;
            top: 600px;
            border-radius: 20px;
            border: 2px solid rgb(179, 179, 179);
        }
        
        .polo h2{
            color: blueviolet;
            margin-left: 80px;
            margin-top: 40px;
            font-family: sans-serif;
        }
        .polo h5{
            color: gray;
            padding-left: 60px;
            font-family: sans-serif;
        
        }
        
.polo .tyt{
        margin-top: 20px;
        margin-left: 120px;
}
        
.box-1{
    position: relative;
    border: 1px solid black;
    width: 300px;
    margin-left: 80px;
    height: 250px;
border-radius: 10px;
 font-family:sans-serif ;
}


.box-1 ul{
 
    list-style: none;
    margin-left: 30px;
    margin-top: 60px;
    font-size: 19px;
    color: rgb(84, 0, 163);
   
}

.box-1 h1{
    margin-top: 20px;
    margin-left: 20px;
}

.box-1 .numper{
    position: absolute;
    right: 10px;
    bottom: 30px;
    font-size: 15px;

}

.box-2{
    position: relative;
    border: 1px solid black;
    width: 300px;
    margin-left: 80px;
    margin-top: 50px;
    padding-left: 30px;
    height: 500px;
    border-radius: 10px;
    font-family:sans-serif ;
}
.box-2 h1{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: sans-serif;
}
.box-2 form{
margin-top:20px ;    
font-family: sans-serif;
color: rgb(15, 15, 15);
}
form h5{
    font-size: 10px;
}

.pokemon{
    position: absolute;
    left: 140px;
    top: 1080px;
    font-size: 17px;
    font-family: sans-serif;
}


.mockup{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 600px;
    top:  1100px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 2px solid rgb(179, 179, 179);
}

.mockup h5{
    color: gray;
    padding-left: 80px;
}

.mockup h2{
    color: blueviolet;
    margin-top: 20px;
    margin-left: 90px;
}
.mockup .qwq{
    margin-left: 120px;
} 


.crator-2{
    width: 300px;
    height: 400px;
    padding-left: 30px;
    background-color: white;
    position: absolute;
    left: 1050px;
    font-family: sans-serif;
    border-radius: 20px;
    top: 1100px;
    border: 2px solid rgb(179, 179, 179);
}
.crator-2 .ere{
 margin-top: 20px;
 margin-left: 80px;
}


.crator-2 h2{
    color: blueviolet;
    font-family: sans-serif;
    margin-top: 70px;
    margin-left: 60px; 
} 

.crator-2 h5{
    color: gray;
    padding-left: 40px;
    font-family: sans-serif;
}



.tank-3{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 90px;
    top: 1100px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 2px solid rgb(179, 179, 179);
}

.tank-3 h5{
    color: gray;
    padding-left: 80px;
}

.tank-3 h2{
    color: blueviolet;
    margin-top: 20px;
    margin-left: 90px;
}
.tank-3 .qwq{
    margin-left: 120px;
} 


.ex .mcq{
display: flex;
justify-content: space-between;

}
.mcq h4{
    position: relative;
    left: 600px;
    top: 50PX;
    font-size: 30PX;
}
.mcq .vine-1{
    font-size: 20px;
    background-color: rgb(219, 219, 219);
    padding-left: 30px;
    margin-top: 50px;
}

.mcq .vine-2{
    font-size: 20px;
    background-color: rgb(219, 219, 219);
    margin-top: 50px;
}

.crator-3{
    width: 300px;
    height: 400px;
    padding-left: 30px;
    background-color: white;
    position: absolute;
    left: 1050px;
    font-family: sans-serif;
    border-radius: 20px;
    top: 1700px;
    border: 2px solid rgb(179, 179, 179);
}
.crator-3 .ere{
 margin-top: 20px;
 margin-left: 90px;
}


.crator-3 h2{
    color: blueviolet;
    font-family: sans-serif;
    margin-top: 70px;
    margin-left: 60px; 
} 

.crator-3 h5{
    color: gray;
    padding-left: 40px;
    font-family: sans-serif;
}


.tank-4{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 600px;
    top: 1700px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 2px solid rgb(179, 179, 179);
}

.tank-4 h5{
    color: gray;
    padding-left: 80px;
}

.tank-4  h2{
    color: blueviolet;
    margin-top: 20px;
    margin-left: 90px;
}
.tank-4 .qwq{
    margin-left: 120px;
} 

.mockup-5{
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 1500px;
    top:  1700px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 2px solid rgb(179, 179, 179);
}

.mockup-5 h5{
    color: gray;
    padding-left: 80px;
}

.mockup-5  h2{
    color: blueviolet;
    margin-top: 20px;
    margin-left: 90px;
}
.mockup-5 .qwq{
    margin-left: 120px;
} 

.colect{
    position: relative;
    height: 1000px;
    display: flex;
    justify-content: space-around;
}
.image-1{
    position: relative;
    top: 300px;
    overflow: hidden;
} 

.image-1 div{
    position: absolute;
    bottom: 500px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.image-1 img{
    filter: brightness(70%);
}


.image-1 :hover{
    filter: none;
    transform: scale(1.1);
    transition-duration: 0.5s;
}


.image-2{
    position: relative;
    top: 300px;
    transition: all 0.9s ease;
    overflow: hidden;
}

.image-2 div{
    position: absolute;
    bottom: 500px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.image-2 img{
    filter: brightness(70%);
}

.image-2 :hover{
    transition-duration: 0.5s;
    transform: scale(1.1);
    filter: none;
}

.image-3{
    position: relative;
    top: 300px;
    overflow: hidden;

} 


.image-3 div{
    position: absolute;
    bottom: 500px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.image-3 img{
    filter: brightness(70%);
}

.image-3 :hover{
    filter: none;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.napoli span{
    color: blueviolet;
margin-left : 120px ;
margin-bottom: 10px;
font-size: 70px;
}

.napoli {
    color: rgb(0, 0, 0);
    margin-left : 780px;
    margin-bottom: 100px;
    position:absolute;
    top: 2300px;
    font-size: 40px;
    font-family: sans-serif;
}



footer{
    display: flex;
    justify-content: space-around; 
      font-family: sans-serif;
       margin-top: 100px;
       font-size: 20px;
}

ul{
    list-style: none;
    margin-top: 50px;
    margin-left: 120px;
    padding-left:  10px;
}

li{
  color: rgb(17, 17, 17);
}

.ul2 img{
    margin-top: 30px;
}

.ul3{
    margin-top: 100px;
}

.ul4{
    margin-top: 100px;
}



footer .submit{
    position: relative;
    top: 325px;
    right: 69px;
    padding: 18px;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    border: none;
}

footer .email{
    position: relative;
    top: 380px;
    right: 280px;
    padding: 18px;
}


.eenndd{
 margin-top: 150px;
 margin-left: 700px;
 margin-bottom:5px ;
 font-size: 20px;
 color: gray;
}